#chooseOpponent{
  margin: auto;
  color: white;
  font-size: 24px;
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}

#buttonContainer{
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  margin-top: 3px;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}

#rock{
  font-size: 60px;
  width: 20%;
  border-radius: 25px 0px 0px 25px;
}

#paper{
  font-size: 60px;
  width: 20%;
  border-radius: 1px 1px 1px 1px;
}

#scissors{
  font-size: 60px;
  width: 20%;
  border-radius: 0px 25px 25px 0px;
}

#bestOfFive{
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 18%;
  margin: 1%;
}

#chooseWep{
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size:24px;
  font-weight: bold;
  width: 18%;
  margin: 1%;
}

#gameLog{
  text-align: center;
  width: 100%;
  background-color: gray;
  font-size: 24px;
}

#playerScore{
  width: 50%;
  text-align: left;
  font-size: 18px;
}

#opponentScore{
  width: 50%;
  font-size: 18px;
  text-align: right;
}

